@use "./variables" as var;

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: var.$font-ja;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1;
  color: var.$font-color;
  background-color: var.$main-color;
  width: 100%;
  position: relative;
  padding-top: 64px; //固定ヘッダーの高さ
  padding-bottom: 64px; //固定フッターメニューの高さ
}
a {
  display: inline-block;
  cursor: pointer;
}
p {line-height: 2;}
img {width: 100%;}

h1 {font-size: 2.5rem;}
h2 {font-size: 2.0rem;}
h3 {font-size: 1.75rem;}
h4 {font-size: 1.5rem;}
h5 {font-size: 1.25rem;}
h6 {font-size: 1.0rem;}

main {
  background-color: #efefef;
}