@use "./variables" as var;

// ==============================
//  Media Query
// ==============================
@mixin bp-tb {
  @media screen and (min-width: var.$tablet) {
    @content;
  }
}
@mixin bp-pc {
  @media screen and (min-width: var.$desktop) {
    @content;
  }
}
// ==============================
//  Flex
// ==============================
@mixin flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
// ==============================
//  Position
// ==============================
@mixin position-absolute {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}