// ==============================
//  Fonts
// ==============================
$font-ja: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN','メイリオ', Meiryo, sans-serif;

// ==============================
//  Colors
// ==============================
$main-color: #EDF8F4;
$sub-color: #AECB37;
$accent-color: #FFFDA8;
$font-color: #555555;

// ==============================
//  BreakPoint
// ==============================
$desktop: 960px;
$tablet: 520px;
